@import compass
$baseFontSize: 15px
@import compass_twitter_bootstrap
body
  padding-top: 60px
@import compass_twitter_bootstrap_responsive
@import utils

.center
  text-align: center

body
  padding-bottom: 40px
  background: url(bg.gif)
  background-attachment: fixed

.box
  background-color: white
  padding: 10px
  margin: 0 0 20px 0
  @include border-radius(6px)
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15))

.topics .topic_line
  border-bottom: 1px solid #DDD
  padding: 10px 0
  vertical-align: top
  .right-info
    padding-left: 66px
    .title
      margin-bottom: 7px

.avatar
  @include border-radius(6px)

.node_box
  button
    height: 50px
    font-size: 30px
    @include border-radius(0 6px 6px 0)
.node_input
  @extend .span6
  height: 36px
  font-size: 30px
  margin-bottom: 0
  border: 3px solid #5a86de
  border-right: 0
  @include border-radius(6px 0 0 6px)
    
.nodes
  @include background_opacity(white, .4)
  @include border-radius(0 0 6px 6px)
  margin-top: -20px
  .node
    border-top: 1px solid $blue
    &:first-child
      border-top: none
    &:hover
      background-color: white
    a
      color: $gray
    .row
      margin-left: 0
      padding: 0 12px
    .node_op
      float: left
      padding: 12px 0
    .node_content
      float: right
    .node_tar
      white-space:nowrap
      width: 300px
      overflow: hidden
      display: block
      text-decoration: none
      text-align: right
      padding: 12px 0
.node_form
  @include background_opacity(white, .8)
  position: fixed
  margin-top: -20px
  padding: 20px
  width: 730px
  @include border-radius(0 0 6px 6px)
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15))
  form
    margin-bottom: 0
.node_info
  padding: 10px
  margin: 0 0 20px 0
  @include border-radius(6px)
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15))
  @include background_opacity(white, .8)
  position: fixed
  margin-top: 100px
  height: 300px
  width: 750px
  .page-header.row
    margin-left: 0
    h1
      width: 500px

.footer
  margin-top: 45px
  padding: 35px 0 36px
  border-top: 1px solid #E5E5E5
  p
  margin-bottom: 0
  color: #555

#todos
  background: white
  padding: 20px
  margin-bottom: 40px
  @include border-radius(0 0 6px 6px)
  @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.2))
  input
    font-size: 24px
    height: auto
    line-height: 1.4em
    padding: 6px
    &[type=text]
      @extend .span5
    &[type=submit]
      @extend .span1
  ul#todo_list
    margin: 10px 0    
    padding: 0        
    list-style: none  
    li
      padding: 18px 20px 18px 0
      position: relative
      font-size: 24px
      border-bottom: 1px solid #CCC
      .destroy
        @extend .close
        display: none
