@import compass
$baseFontSize: 15px
@import compass_twitter_bootstrap
@import compass_twitter_bootstrap_responsive

body
  padding-bottom: 40px
  padding-top: 60px
  background: url(bg.gif)

.box
  background-color: white
  padding: 10px
  margin: 0 0 20px 0
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  box-shadow: 0 1px 2px rgba(0,0,0,0.15)
